#collection, #info, button, label {
    font-size: x-large;
}

#info {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#main, #buttons {
    display: flex;
}

#image {
    cursor: pointer;
}

#main, #thumbs {
    overflow: hidden;    
}

.thumb {
    height: 100px;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.row {
    display: flex;
}

#cbThumbs {
    transform: scale(1.5);
}

#cbContainer {
        margin-top: 5px;
}